.back {
    background-color: #c5c8fa;
}

i,
p {
    color: #474b9e;
}

.text-light {
    color: #474b9e !important;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.6s ease, text-shadow 0.6s ease;
  }
  
  .footer-link:hover {
    color: #ba8bf4; /* Gold color */
    text-shadow: 20px 20px 20px #e347e0;
  }
  
  
  @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  animation: fadeInUp 1s ease-out;
}
