<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Alaya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Home"routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Buy"routerLinkActive="active" ariaCurrentWhenActive="page">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Rent"routerLinkActive="active" ariaCurrentWhenActive="page">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Sell"routerLinkActive="active" ariaCurrentWhenActive="page">Sell</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                </li>

            </ul>

        </div>
    </div>
</nav>