form {
  background: #fff;
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(198, 220, 245, 0.7);
  outline: none;
  border-color: #d4d5f7;
}

button[type="submit"] {
  background: linear-gradient(to right, #3e47f8, #8f94fb);
  border: none;
}

button[type="submit"]:hover {
  filter: brightness(1.1);
}
input.form-control:hover {
    background-color: #e9e7ec;
  }
  
  input.form-control:hover {
    box-shadow: 0 0 6px #3e47f8; /* soft blue glow */
    transition: box-shadow 0.3s ease-in-out;
  }
  

