form {
  background: #fff;
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(252, 232, 140, 0.7);
  outline: none;
  border-color: #f2eac4;
}

button[type="submit"] {
  background: linear-gradient(to right, #322b08, #fbe98f);
  border: none;
}

button[type="submit"]:hover {
  filter: brightness(1.1);
}

input.form-control:hover {
  background-color: #efeadc;

}

input.form-control:hover {
  box-shadow: 0 0 6px #523e02;
  transition: box-shadow 0.3s ease-in-out;
}