<app-add-transaction (transactionAdded)="addtransaction($event)"></app-add-transaction>
<app-update-transaction
  *ngIf="selectedTransaction"
  [transaction]="selectedTransaction"
  (transactionupdated)="onTransactionUpdated($event)">
</app-update-transaction>



<div class="d-flex justify-content-between align-items-end flex-wrap mb-4 gap-3">
  <div class="filter-section">
    <label class="form-label fw-bold ">Filter:</label>
    <select [(ngModel)]="selectedType" (change)="applyFilters()" class="form-select">
      <option value="all">All Transactions</option>
      <option value="purchase">Purchases</option>
      <option value="sale">Sales</option>
      <option value="commission">Commissions</option>
      <option value="tax">Taxes</option>
      <option value="contractor_payment">Contractor Payments</option>
      <option value="deposit_refund">Deposit Refunds</option>
    </select>
  </div>

  <div class="search-section">
    <label class="form-label fw-bold mb-1">Search:</label>
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="applySearch()"
      class="form-control"
      placeholder="Search "
    >
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover custom-table shadow-sm rounded">
  <thead class="table-head text-center align-middle">
  <tr>
    <th style="width: 150px;">Transaction ID</th>
    <th>Property</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Buyer</th>
    <th>Customer</th>
    <th>Payment Method</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody class="text-center align-middle">
  <tr *ngFor="let transaction of applySearch()">
    <td><strong>{{ transaction.transactionId }}</strong></td>

    <td>
      <div *ngIf="transaction.propertyTitle; else noProperty">
        {{ transaction.propertyTitle }}
        <small *ngIf="transaction.propertyId" class="text-muted d-block">ID: {{ transaction.propertyId }}</small>
      </div>
      <ng-template #noProperty>N/A</ng-template>
    </td>

    <td>{{transaction.transactionType}}</td>

    <td>
      {{ transaction.amount }} {{ transaction.currency }}
    </td>

    <td>{{ transaction.date }}</td>

    <td class="text-start">
      {{ transaction.buyer_name }}
      <small class="text-muted d-block">{{ transaction.buyer_id }}</small>
    </td>

    <td class="text-start">
      {{ transaction.customer_name }}
      <small class="text-muted d-block">{{ transaction.customer_id }}</small>
    </td>

    <td>
      <span *ngIf="transaction.paymentMethod">{{ transaction.paymentMethod }}</span>
      <span *ngIf="!transaction.paymentMethod">-</span>
    </td>

    <td>
      <strong >{{ transaction.status }}</strong>
    </td>

    <td>
      <div class="d-flex gap-2 justify-content-center">
        <button type="button" class="btn btn-outline btn-sm" (click)="deleteTransaction(transaction.transactionId)">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button class="btn btn-outline btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#editTransactionModal"
                (click)="onSelectTransaction(transaction)">

          <i class="fa-regular fa-pen-to-square"></i>
        </button>



      </div>
    </td>

  </tr>
  </tbody>
</table>
</div>
