
<button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-solid fa-file-circle-plus"></i>
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="addtransactionForm" (ngSubmit)="onSubmit()">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel2">Add Transaction</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <label class="form-label">Transaction ID:</label>
            <input type="text" formControlName="transactionId" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Property ID:</label>
            <input type="number" formControlName="propertyId" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Property Title:</label>
            <input type="text" formControlName="propertyTitle" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Transaction Type:</label>
            <select formControlName="transactionType" class="form-control">
              <option value="" disabled selected>choice type of property</option>
              <option value="sale">Sale</option>
              <option value="sale">rent</option>
              <option value="rent">Rent</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Amount:</label>
            <input type="number" formControlName="amount" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Currency:</label>
            <select formControlName="currency" class="form-control">
              <option value="" disabled selected>choice the currency</option>
              <option value="EGP">EGP</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Date:</label>
            <input type="date" formControlName="date" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Buyer ID:</label>
            <input type="text" formControlName="buyer_id" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Buyer Name:</label>
            <input type="text" formControlName="buyer_name" class="form-control" />
          </div>


          <div class="mb-3">
            <label class="form-label">Customer ID:</label>
            <input type="text" formControlName="customer_id" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Customer Name:</label>
            <input type="text" formControlName="customer_name" class="form-control" />
          </div>



          <div class="mb-3">
            <label class="form-label">Payment Method:</label>
            <select formControlName="paymentMethod" class="form-control">
              <option value="cash">Cash</option>
              <option value="bank">Bank Transfer</option>
              <option value="credit">Credit Card</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Status:</label>
            <select formControlName="status" class="form-control">
              <option value="" disabled selected>choice the status</option>
              <option value="completed">Completed</option>
              <option value="pending">Pending</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Documents:</label>
            <input type="file" class="form-control" formControlName="documents"  multiple />
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="!addtransactionForm.valid" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


