<div class="sidebar">
  <h2>Logo</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-solid fa-house-user"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users-page" routerLinkActive="active">
        <i class="fa-solid fa-person-circle-question"></i>
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="financialtransaction-page" routerLinkActive="active">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        Financial transactions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="realestate-page" routerLinkActive="active">
        <i class="fa-solid fa-landmark"></i>
        Real estate
      </a>
    </li>
  </ul>
</div>
