
<div class="d-flex justify-content-between align-items-end flex-wrap mb-4 gap-3">
  <div class="filter-section">
    <label class="form-label fw-bold mb-1">Filter:</label>
    <select [(ngModel)]="selectedType" (change)="applyFilters()" class="form-select">
      <option value="all">All</option>
      <option value="sold">Sold</option>
      <option value="available">Available</option>
      <option value="pending">Pending</option>
    </select>
  </div>

  <div class="search-section">
    <label class="form-label fw-bold mb-1">Search:</label>
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="applySearch()"
      class="form-control"
      placeholder="Search "
    >
  </div>
</div>
<table class="table table-hover custom-table shadow-sm rounded">
  <thead class="table text-center align-middle">
  <tr>
    <th >ID</th>
    <th >Image</th> 
    <th >Title</th>
    <th>Price</th>
    <th style="width: 200px;">Description</th>
    <th style="width: 300px;">Seller ID</th>
    <th style="width: 300px;">Seller Name</th>
    <th style="width: 200px;">Location</th>
    <th>Area</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody class="text-center align-middle">
  <tr *ngFor="let user of applySearch()">
    <td><strong>{{ user.id }}</strong></td>


    <td>
      <img
        class="m-3 rounded-circle"
        [src]="user.images"
        alt="Image"
        width="70"
        height="70">
    </td>


    <td class=" text-start ">
      {{ user.title }}
    </td>

    <td>{{ user.price }}</td>

    <td class="text-start">
      <div style="white-space: normal;">{{ user.description }}</div>
    </td>

    <td class="text-start">
      <div style="margin-left: 20px;">{{ user.seller_id }}</div>
    </td>

    <td class="text-start">
      <div style="white-space: normal;">{{ user.seller_name }}</div>
    </td>

    <td class="text-start">
      <div style="white-space: normal;">{{ user.location }}</div>
    </td>

    <td>{{ user.area }}</td>

    <td>
      <strong>{{ user.status }}</strong>
    </td>

    <td>
      <button
        type="button"
        class="btn btn-outline btn-sm"
        (click)="DeleteUser(user.id)">
        Delete
      </button>
    </td>
  </tr>


  </tbody>
</table>
