<div class="property-stats-container p-4 rounded">
  <h5 class="mb-4" style="color: black;">Property Statistics</h5>
  <div  class="table-responsive">
    <table style="background-color: #CCD5AE" class="table custom-table">
      <thead>
      <tr>
        <th>Type</th>
        <th>Listed</th>
        <th>Sold</th>
        <th>Avg. Price</th>
        <th>Avg. Days on Market</th>
      </tr>
      </thead>
      <tbody >
      <tr>
        <td>Residential</td>
        <td>1,200</td>
        <td>950</td>
        <td>$320,000</td>
        <td>35</td>
      </tr>
      <tr>
        <td>Commercial</td>
        <td>300</td>
        <td>180</td>
        <td>$870,000</td>
        <td>58</td>
      </tr>
      <tr>
        <td>Land</td>
        <td>450</td>
        <td>310</td>
        <td>$150,000</td>
        <td>77</td>
      </tr>
      <tr >
        <td>Rental</td>
        <td>800</td>
        <td>700</td>
        <td>$1,800/mo</td>
        <td >22</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
