
<div class="layout">


  <div class="main-content">
    <div class="container ">
      <div class="row">
        <div class="col-12 col-md-4">
          <app-activitysummarycard [title]="'Active user'" [count]="50" ></app-activitysummarycard>
        </div>
        <div class="col-12 col-md-4">
          <app-activitysummarycard [title]="'Number of properties'" [count]="100"></app-activitysummarycard>
        </div>
        <div class="col-12 col-md-4">
          <app-activitysummarycard [title]="'income'" [count]="5200"></app-activitysummarycard>
        </div>


      </div>
    </div>






    <div class="row">

      <div class="col-6  ">
        <div  id="user-request" class="mb-2    "> <app-userrequest></app-userrequest></div>
        <div class="p-3   text-dark border border-black border-2  shadow p-3">chart1</div>
      </div>


      <div class="col-6 d-flex flex-column justify-content-between ">
        <div class="h-100 p-3  text-dark  border border-black border-2  shadow p-3">chart2</div>
      </div>
    </div>

  </div>
</div>








