body, html {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border: none;
}

h2, h4 {
  color: #D4A373;
}

.text-white {
  color: white;
}

.btn-warning {
  background-color: #D4A373;
  border-color: #D4A373;
}

.btn-warning:hover {
  background-color: #b0724f;
  border-color: #b0724f;
}
.btn-warning{
  color: white;
}
