.home-container {
  padding: 20px;
}

.add-btn {
  background-color: #28582c;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.slider {
  overflow-x: auto;
  white-space: nowrap; 
  padding-bottom: 10px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.slider::-webkit-scrollbar {
  display: none; 
}

.property-slider {
  display: flex;
  gap: 16px;
  
  flex-wrap: nowrap; 
}

@media (max-width: 768px) {
  .slider {
    overflow-x: hidden; 
    white-space: normal;
  }

  .property-slider {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

 
}